# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [ ]:
import pandas as pd

# Load the dataset (ensure credit.csv is in the same folder)
df = pd.read_csv('credit.csv')
df.head()

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [ ]:
# 1a. Select the 'Limit' and 'Rating' columns of the first five observations
df[['Limit', 'Rating']].head()

In [ ]:
# 1b. Select the first five observations with 4 cards
df[df['Cards'] == 4].head()

In [ ]:
# 1c. Sort the observations by 'Education'. Show users with high education values first.
df.sort_values(by='Education', ascending=False).head()

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:] 
```

In [ ]:
# 2a. df.iloc[:, :] selects all rows and all columns (entire DataFrame)
df.iloc[:, :]

In [ ]:
# 2b. df.iloc[5:, 5:] selects rows from index 5 onward and columns from index 5 onward
df.iloc[5:, 5:]

In [ ]:
# 2c. df.iloc[:, 0] selects all rows of the first column (column at index 0)
df.iloc[:, 0]

In [ ]:
# 2d. df.iloc[9, :] selects all columns from the 10th row (index 9)
df.iloc[9, :]